.win {
    color: red;
}

table {
    margin: auto;

    td {
        border: 1px black solid;
        width: 1.3em;
        height: 1.3em;
        font-size: 50px;
        text-align: center;
    }
}